<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded PDF Viewer</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'styles_3.css' %}">
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #pdf-container {
      width: 100%;
      height: 100vh; 
    }

    #pdf-viewer {
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
</head>
<body>
  <div>
      <h1>Document {{ document }}</h1>
      <h3>Query: {{ query }}</h3>
      <h3>Total Query Occurrences: {{ count }}</h3>
      <h3>Positions (Indexing from 0): {{ positions_json }}</h3> 
      <a href="javascript:history.back()">Go Back to the Search Results</a>
  </div>
  <div>&nbsp;</div>

  <div id="pdf-container">
    <iframe id="pdf-viewer" frameborder="0"></iframe>
  </div>

  <script>
    var pdfBase64 = "{{ pdf_content }}";
    var pdfViewer = document.getElementById('pdf-viewer');
    
    var positions = JSON.parse('{{ positions_json | escapejs }}');
    
    pdfViewer.src = 'data:application/pdf;base64,' + pdfBase64;
  </script>
</body>
</html>
