<!DOCTYPE html>
<html>
<head>
    <title>Display Doc</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles_3.css' %}">
</head>
<body>
    <div>
        <h1>Document {{ document }}</h1>
        <h3>Query: {{ query }}</h3>
        <h3>Total Query Occurences: {{ count }} </h3>
        <h3>Positions (Indexing from 0 and indluding all positions where a term query occurs): {{ positions }} </h3>
        <a href="javascript:history.back()">Go Back to the Search Results</a>
    </div>
    <!-- Add a blank line of space -->
    <div>&nbsp;</div>
    <!-- Display the HTML content for the document -->
    <div>
        {{ html_content|safe }}
    </div>
</body>
</html>
