<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles_3.css' %}">
</head>
<body>
    <div>
        <h1>Search Results</h1>
        <a href="javascript:history.back()">Back to Home</a>
        <h4>Test: {{ Test }} </h4>
    </div>
    <div>&nbsp;</div>
    <div>
        <ul>
            {% for result in results %}
                <li><a href="{% url 'display_doc' result %}">Document ID: {{ result }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
